:root {
  --primary-color: #f0811e;
  --secondary-color: #404040;
  --third-color: #000000;
  --bg-wpp: #25d366;

  --font-primary: "Raleway", sans-serif;

  --bold-font: 700;
  --extra-font: 800;

  --awesomefont: uppercase;
}

* {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: var(--font-primary);
}

@media (max-width: 767.98px) {
  .display-onlydesk {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .display-onlymobile {
    display: none !important;
  }
}

#copyright {
  p {
    font-size: 12px;
  }

  .desenvolvido-por {
    @media (min-width: 1024px) {
      float: right;

      p {
        margin-top: 50px;
      }
    }

    p {
      text-transform: uppercase;
    }

    span {
      font-weight: var(--extra-font);
    }
  }
}
